Django==3.2.21
django-cloudinary-storage==0.3.0
django-cors-headers==4.3.1
djangorestframework==3.14.0
drf-yasg==1.21.7
django-cloudinary-storage
Pillow
python-dotenv
psycopg2-binary==2.9.9
whitenoise==6.5.0
gunicorn==21.2.0